<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Member-Mapper">
	
	<!-- 전체회원 리스트 출력 -->
	<select id="memberAllListPrint" resultType="member" parameterType="member">
	  select
      *
      from member 
	</select>
	
	<!-- 회원정보등록 -->
	<insert id="memberInfoInsert" parameterType="member">
		INSERT INTO 
			MEMBER ( 
			   ID       
	          ,PWD      
	          ,NAME
	          ,PHONE
	          ,EMAIL
	          ,PICTURE
	          ,REGDATE
	          ,AUTHORITY
	          ,ENABLED
	          ,REGISTER
	          ADDRESS
			)
		VALUES(#{id},#{pwd},#{name},#{phone},#{email},#{picture},#{regdate},#{authority},#{enabled},#{register},#{address})
	</insert>
	

	
	<!-- 회원정보상세조회 -->
	<select id="selectMemberById" resultType="member" parameterType="member">
		select *
      from member
      where id=#{id}     
	</select>
	
	<!-- 회원아이디로 회원 존재여부 체크 -->
	<select id="checkMember" resultType="member" parameterType="member">
		SELECT COUNT(*) AS CNT 
		FROM MEMBER WHERE WHERE ID = #{id}
	</select>
</mapper>